*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: gray; */
}

.fa-arrow-right{
    padding: 7px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
}